@use "base";

html {

  scroll-behavior: smooth;

}

body {

}

.h-section {
  background: linear-gradient(208deg, #323264 0%, #323264 100%, #643E72 100%), center/contain, no-repeat;
  position: relative;
  min-height: 600px;
  overflow: hidden;
  z-index: 1;
  img {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 523.404px;
    min-height: 100vh;
  }

  h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 315px;
    text-align: center;
    line-height: normal;
  }

  a {
    position: absolute;
    left: 50%;
    top: 96%;
    transform: translate(-50%, -96%);

    svg {
      color: base.$white;
      transition: color 0.5s linear;
    }

    :hover {
      cursor: pointer;
      color: base.$accent-color;
    }
  }

  @include base.small-tablet {
    h1 {
      min-width: 500px;
    }
  }
  @include base.tablet {

    min-height: 1024px;
    img {
      width: 893.277px;
    }

    h1 {
      min-width: 562px;
    }
    a {
      top: 98%;
      transform: translate(-50%, -100%);
    }

  }
  @include base.large {
    min-height: 768px;

    img {
      width: 669.957px;
    }

    h1 {
      min-width: 1024px;
    }
    a {
      top: 97%;
    }

  }
  @include base.laptop {
    min-height: 800px;

    img {
      left: 50.5%;
      width: 697px;
    }

    h1 {
      min-width: 800px;
      left: 50.5%;
    }
    a {
      left: 50.5%;
    }
  }
}

.tabs-section {
  background: linear-gradient(208deg, #323264 0%, #323264 100%, #643E72 100%), center/contain, no-repeat;
  #tabs {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    ul {
      font-family: "Montserrat", sans-serif;
      background-color: transparent;
      border: none;
      border-bottom: 4px solid rgba(255, 255, 255, 0.30);
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;

      li {
        background-color: transparent;
        border: none;
        font-weight: 700;
        line-height: normal;

        :focus {
          background: -webkit-linear-gradient(118deg, #F0145A 0%, #EF8080 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        a {
          color: base.$text-color;
          padding: 25px 20px 30px 8px;
          font-size: 30px;
        }
      }
    }

    .tabs__text {
      margin-top: 27px;
      min-height: 250px;

      div {
        color: base.$white;
        font-family: "Montserrat", sans-serif;
        padding: 0 12px;

        h2 {
          font-size: 20px;
          padding-bottom: 30px;
        }

        p {
          font-size: 19px;
          line-height: 30px;
          padding-bottom: 20px;
        }
      }
    }
  }

  @include base.tablet {
    #tabs {
      ul {
        li {
          a {
            font-size: 38px;
            padding: 54px 20px 60px 0px;
          }
        }
      }

      .tabs__text {
        margin-top: 67px;

        div {
          padding: 0;

          h2 {
            font-size: 30px;
            padding-bottom: 35px;
          }
        }

      }
    }

  }
  @include base.large {
    #tabs {
      flex-direction: row;
      min-height: 307px;
      margin-top: 0;

      ul {
        flex-direction: column;
        gap: 28px;
        max-width: 380px;
        overflow-x: hidden;
        border-bottom: none;
        align-items: flex-end;
        padding: 30px 0;

        li {
          a {
            display: block;
            max-width: 375px;
            padding: 0;
          }
        }
      }

      .tabs__text {
        max-width: 465px;
        margin-left: 60px;
        padding-left: 60px;
        margin-top: 30px;
        border-left: 4px solid rgba(255, 255, 255, 0.30);

        div {
          h2 {
            padding-top: 30px;
            font-size: 30px;
            line-height: normal;
          }
        }
      }
    }
  }
  @include base.laptop {
    #tabs {
      padding: 60px 0;

      ul {
        margin-top: 0;
        justify-content: center;
        align-items: flex-end;
        gap: 30px;
        min-height: 320px;

        li {
          a {
            padding: 0;
          }
        }
      }

      .tabs__text {
        max-width: 705px;
        padding-top: 60px;
      }
    }
  }
}

.team {
  background-color: base.$white;
  color: base.$text-color;
  padding: 30px 0;
  .slick-slide {
    display: flex;
    flex-direction: column;
  }

  &__slider {
    background-color: base.$grey-bg;
    max-width: 315px;
    min-height: 587px;
    margin: 0 auto;

    &__slider-item {
      margin-bottom: 30px;
      @include base.flex-column;
    }

    img {
      max-width: 315px;
      width: 100%;
      min-height: 515px;
      object-fit: cover;
    }


    .member__text {
      padding: 30px;

      h2 {
        line-height: normal;
        font-size: 30px;
        padding-bottom: 30px;
      }

      h4 {
        font-size: 16px;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
      }
    }

    .slick-dots {
      bottom: -50px;

      button::before {
        opacity: 0.5;
        font-size: 16px;
        color: base.$btn-regular-color;
      }

      .slick-active {
        button:before {
          opacity: 2;
          color: base.$btn-regular-color;
        }
      }
    }
  }

  @include base.small-tablet {
    &__slider {
      max-width: 500px;

      &-item {
        img {
          max-width: 500px;
        }
      }
    }
  }

  @include base.tablet {
    padding: 60px 0;
    &__slider {
      max-width: 648px;

      &-item {
        img {
          max-width: 648px;
        }
      }
    }
  }
  @include base.large {
    padding: 60px 0;
    .slick-slide {
      display: flex;
      flex-direction: row;
    }
    &__slider {
      min-height: 528px;
      max-width: 904px;

      &-item {
        img {
          max-width: 400px;
          width: 100%;
          min-height: 528px;
          height: 100%;
        }

        .member__text {
          max-width: 504px;

          h2 {
            font-size: 38px;
          }
        }
      }
    }
  }
  @include base.laptop {
    .container {
      max-width: 1320px;
    }
    &__slider {
      min-height: 344px;
      max-width: 1320px;
      &-item {
        img {
          max-width: 400px;
          width: 100%;
          min-height: 344px;
          height: 100%;
        }
        .member__text {
          max-width: 920px;
        }
      }
    }
  }
}



